/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/*  
 @import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap'); */

:root {
  /* Rosé Pine Dawn */
  --rp-base: #faf4ed;
  --rp-surface: #fffaf3;
  --rp-overlay: #f2e9e1;
  --rp-muted: #9893a5;
  --rp-subtle: #797593;
  --rp-text: #575279;
  --rp-love: #b4637a;
  --rp-gold: #ea9d34;
  --rp-rose: #d7827e;
  --rp-pine: #286983;
  --rp-foam: #56949f;
  --rp-iris: #907aa9;
  --rp-highlight-low: #f4ede8;
  --rp-highlight-med: #dfdad9;
  --rp-highlight-high: #cecacd;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Rosé Pine */
    --rp-base: #191724;
    --rp-surface: #1f1d2e;
    --rp-overlay: #26233a;
    --rp-muted: #6e6a86;
    --rp-subtle: #908caa;
    --rp-text: #e0def4;
    --rp-love: #eb6f92;
    --rp-gold: #f6c177;
    --rp-rose: #ebbcba;
    --rp-pine: #31748f;
    --rp-foam: #9ccfd8;
    --rp-iris: #c4a7e7;
    --rp-highlight-low: #21202e;
    --rp-highlight-med: #403d52;
    --rp-highlight-high: #524f67;

    /* Rosé Pine Moon */
    /* --rp-base: #232136;
		--rp-surface: #2a273f;
		--rp-overlay: #393552;
		--rp-muted: #6e6a86;
		--rp-subtle: #908caa;
		--rp-text: #e0def4;
		--rp-love: #eb6f92;
		--rp-gold: #f6c177;
		--rp-rose: #ea9a97;
		--rp-pine: #3e8fb0;
		--rp-foam: #9ccfd8;
		--rp-iris: #c4a7e7;
		--rp-highlight-low: #2a283e;
		--rp-highlight-med: #44415a;
		--rp-highlight-high: #56526e; */
  }
}

:root {
  --accent: var(--rp-foam);
  --accent-dark: var(--rp-foam);
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
html {
  background: var(--rp-base);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--rp-base);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--rp-subtle);
  font-size: 16px;
  line-height: 1.7;
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--rp-highlight-low));
  line-height: 1.2;
  font-weight: 700;
}
h1 {
  font-size: 2em;
  font-weight: 800;
  font-style: normal;
}
h2 {
  /* font-size: 2.441em; */
  font-size: 1em;
  color: var(--rp-subtle);
  font-weight: 400;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1em;
  color: var(--rp-subtle);
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--rp-text);
  /* border-bottom: 2px var(--rp-foam) solid; */
  text-decoration: underline;
  text-decoration-color: var(--rp-highlight-med);
  text-decoration-thickness: 8px;
  text-underline-offset: -4px;
  text-decoration-skip-ink: none;
  transition: all 0.25s ease;
  /* font-weight: 700; */
}
a:hover {
  color: var(--rp-text);
  text-decoration-thickness: 23px;
  text-underline-offset: -17px;
  transition: all 0.25s ease;
  /* text-decoration-color: var(--rp-rose); */
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: var(--rp-highlight-high);
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 2px solid var(--rp-love);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1em;
  color: var(--rp-subtle);
}
hr {
  border-top: 1px solid;
  border-color: var(--rp-highlight-low);
  opacity: 0.25;
  margin: 2em 0em;
}

/* <article class="post">
        <a>{allBlogPosts[0].data.title}</a>
        <p><small><FormattedDate date={allBlogPosts[0].data.pubDate}/></small></p>
        <p>
          {allBlogPosts[0].data.description}
        </p>
      </article> */
.post {
  display: flex;
  flex-direction: column;
  p {
    margin: 0px;
  }
  a {
    margin-bottom: 0px;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 16px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
