---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="About" description="Lorem ipsum dolor sit amet">
  <p>I'm Ellie. I'm currently working at Kindle, helping to blah blah.</p>
</Layout>
